<form action="/calc" method="post" class="calculator">

    <p>Введите данные для расчёта отправки груза</p>

    <input class="quantity inp" title="Введите число" type="text" name="quantity" placeholder="Кол-во грузовых мест" required>
    <input class="volume inp" title="Введите число" type="text" name="volume" placeholder="Объём груза" required>
    <input class="weight inp" title="Введите число" type="text" name="weight" placeholder="Вес брутто груза" required>

    <input class="dispatch_location inp" title="Введите город отправления латиницей" type="text" name="dispatch_location" placeholder="Город отправки" required>
    <input class="destination_location inp" title="Введите город назначения латиницей" type="text" name="destination_location" placeholder="Город назначения" required>

    <input type="submit" name="calc_submit" class="btn" value="Рассчитать">

</form>

<div class="info_board"></div>

