<form action="/status/id" method="post" class="status_form">

    <p>Введите номер заказа</p>

    <input type="text" placeholder="Номер заказа" class="order_num inp">

    <input type="submit" value="Поиск" class="btn">

</form>

<div class="info_board">

</div>



